/* Garante que o HTML e o body ocupem toda a altura */
html, body {
    height: 100%;
    margin: 0;
    font-family: 'Jacques Francois', serif;
    font-size: 16px;
}

 /* Centraliza os elementos e faz a div ocupar toda a tela */
.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;

    background: 
        linear-gradient(rgba(255, 255, 255, 0.4), rgb(255, 255, 255, 0.4)),
        url('../img/fundo.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
}

.main h1 {
    font-size: 5vw;
    margin-bottom: 1vw;
}

.main h2 {
    font-size: 3.5vw;
    margin-top: 0;
    margin-bottom: 5vw;
}

.main p {
    font-size: 2vw;
    margin-bottom: 4vw;
}

.main .btn {
    padding: 1vw 3vw;
    font-size: 2vw;
    background-color: white;
    border-radius: 5vw;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Jacques Francois', serif;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
 }

.main .btn:hover {
    background-color: rgb(230, 229, 229);
    transform: scale(1.05);
}

.main .btn .whatsapp-icon {
    width: 2vw;
    height: auto;
}

.sobre {
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: rgb(237, 237, 237);
}

.sobre .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    gap: 10rem;
    padding: 0 10vw 0;
}

.sobre .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sobre .content h1 {
    font-size: 5rem;
    margin-bottom: 1rem;
}

.sobre .content p {
    font-size: 1.8rem;
    line-height: 1.8;
    margin-bottom: 2rem;
}

.sobre .image {
    width: 30%;
    height: auto;
    object-fit: cover;
}

.sobre .image img {
    max-width: 25rem;
    border-radius: 6rem;
}

/* Estilo para o botão */
.sobre .btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sobre .btn .btn1 {
    display: inline-flex;
    background-color: #AE886D;
    border-radius: 25rem;
    margin-right: 10rem;
    padding: 0.5rem 2rem;
    font-size: 1.7rem;
    font-family: 'Jacques Francois', serif;
    gap: 0.5rem;
    border: 0;
}

.sobre .btn1:hover {
    background-color:#8a6c57;
    transform: scale(1.05);
}

.sobre .btn img {
    width: 2.2rem;
    height: 2.2rem;
}

.procedimentos {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;

    background: 
        linear-gradient(rgba(136, 125, 104, 0.6), rgba(136, 125, 104, 0.6)),
        url('../img/fundo.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
}

.procedimentos h1 {
    font-size: 5rem;
    font-family: 'Jacques Francois', serif;
}

.procedimentos .procedimentos-container {
    width: 70%;
    display: flex;
    flex-direction: row;    
    justify-content: center;
    align-items: center;
    gap: 7rem;
    margin-top: 0.5rem;
}

.procedimentos .procedimentos-container .procedimento-item {
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 2rem;
}

.procedimentos .procedimentos-container .procedimento-item img {
    width: 100%;
    border-radius: 0.8rem;
}

.procedimentos .procedimentos-container .procedimento-item h3 {
    font-size: 1.5rem;
    color: black;
    margin-bottom: 0.5rem;
    font-family: 'Jacques Francois', serif;
}

.procedimentos .procedimentos-container .procedimento-item p {
    font-size: 1rem;
    color: black;
    margin: 0;
}

.procedimentos h2 {
    font-size: 3rem;
    margin-top: 2rem;
    color: black;
}

.procedimentos .btn {
    display: inline-flex;
    background-color: white;
    border-radius: 25rem;
    margin-right: 10rem;
    padding: 1rem 2rem;
    font-size: 1.7rem;
    font-family: 'Jacques Francois', serif;
    gap: 0.5rem;
    border: none;
    margin: 0;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-top: -1rem;
}

.procedimentos .btn img {
    width: 2rem;
    height: 2rem;
}

.procedimentos .btn:hover {
    background-color: rgb(230, 229, 229);
    transform: scale(1.05);
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    .main h1 {
        font-size: 8vw;
    }

    .main h2 {
        font-size: 5vw;
        margin-bottom: 3vw;
    }

    .main p {
        font-size: 4vw;
    }

    .main .btn {
        padding: 2vw 6vw;
        font-size: 4vw;
        border-radius: 8vw;
    }

    .main .btn img {
        width: 3vw;
    }

}

@media (max-width:480px) {
    .main h1 {
        font-size: 10vw;
    }

    .main h2 {
        font-size: 8vw;
        margin-bottom: 4vw;
    }

    .main p {
        font-size: 6vw;
    }

    .main .btn {
        font-size: 5vw;
        padding: 3vw 8vw;
        border-radius: 10vw;
    }

    .main .btn img {
        width: 4vw;
    }
}
