/* Garante que o HTML e o body ocupem toda a altura */
html, body {
    height: 100%;
    margin: 0;
    font-family: 'Jacques Francois', serif;
    font-size: 16px;
}

 /* Centraliza os elementos e faz a div ocupar toda a tela */
.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;

    background: 
        linear-gradient(rgba(255, 255, 255, 0.4), rgb(255, 255, 255, 0.4)),
        url('../img/fundo.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
}

.main h1 {
    font-size: 5vw;
    margin-bottom: 1vw;
}

.main h2 {
    font-size: 3.5vw;
    margin-top: 0;
    margin-bottom: 5vw;
}

.main p {
    font-size: 2vw;
    margin-bottom: 4vw;
}

.main a {
    padding: 1vw 3vw;
    font-size: 2vw;
    background-color: white;
    border-radius: 5vw;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Jacques Francois', serif;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    color: black;
    text-decoration: none;
}

.main a:hover {
    background-color: rgb(230, 229, 229);
    transform: scale(1.05);
}

.sobre {
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: white;
}

.sobre .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 100%;
    height: 100%;
    justify-content: space-between;
    gap: clamp(2rem, 5%, 10vw);
    padding: 0 clamp(1rem, 5%, 10vw);
}

.sobre .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sobre .content h1 {
    font-size: 5rem;
    margin-bottom: 1rem;
}

.sobre .content p {
    font-size: 1.8rem;
    line-height: 1.8;
    margin-bottom: 2rem;
}

.sobre .image {
    width: 100%;
    max-width: 25rem;
    height: auto;
    object-fit: cover;
    margin: 0 auto;
    padding-right: 5rem;
}

.sobre .image img {
    max-width: 25rem;
    border-radius: 6rem;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Estilo para o botão */
.sobre a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #AE886D;
    width: 22rem;
    border-radius: 25rem;
    margin-right: 30rem;
    margin-left: 20rem;
    padding: 0.5rem;
    font-size: 1.7rem;
    font-family: 'Jacques Francois', serif;
    gap: 0.5rem;
    border: 0;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    color: black;
    text-decoration: none;
}

.sobre a:hover {
    background-color:#8a6c57;
    transform: scale(1.05);
}

.procedimentos {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;

    background: 
        linear-gradient(rgba(240, 180, 140, 0.6), rgba(240, 180, 140, 0.6)),
        url('../img/fundo.jpg');
        opacity: 90%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
}

.procedimentos h1 {
    font-size: 5rem;
    font-family: 'Jacques Francois', serif;
}

.procedimentos .procedimentos-container {
    width: 70%;
    display: flex;
    flex-direction: row;    
    justify-content: center;
    align-items: center;
    gap: 7rem;
}

.procedimentos .procedimentos-container .procedimento-item {
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 2rem;
}

.procedimentos .procedimentos-container .procedimento-item img {
    width: 100%;
    height: auto;
    max-width: 15rem;
    border-radius: 0.8rem;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.procedimentos .procedimentos-container .procedimento-item h3 {
    font-size: 1.5rem;
    color: black;
    margin-bottom: 0.5rem;
    font-family: 'Jacques Francois', serif;
}

.procedimentos .procedimentos-container .procedimento-item p {
    font-size: 1.4rem;
    color: black;
    margin: 0;
}

.procedimentos h2 {
    font-size: 3rem;
    margin-top: 2rem;
    color: black;
}

.procedimentos a {
    display: inline-flex;
    background-color: white;
    border-radius: 25rem;
    margin-right: 10rem;
    padding: 1rem 2rem;
    font-size: 1.7rem;
    font-family: 'Jacques Francois', serif;
    gap: 0.5rem;
    border: none;
    margin: 0;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-top: -1rem;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    color: black;
    text-decoration: none;
}

.procedimentos a img {
    width: 2rem;
    height: 2rem;
}

.procedimentos a:hover {
    background-color: rgb(217, 217, 217);
    transform: scale(1.05);
}

.profissionais {
    display: flex;
    height: 130vh;
    width: 100%;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profissionais h1 {
    font-size: 5rem;
}

.profissionais .profissional {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.profissionais .profissional .profissional1 {
    background-color: #AE886D;
    padding: 0.75rem;
    padding-right: 2em;
    border-radius: 2em;
    display: flex;
    align-items: center;
    gap: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
}

.profissionais .profissional .profissional1 p {
    font-size: 1.7rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.profissionais .profissional .profissional1 img {
    width: 100%;
    height: auto;
    max-width: 18rem;
    border-radius: 0.8rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

.profissionais .profissional .profissional2 {
    background-color: #AE886D;
    padding: 1.3rem;
    padding-left: 3rem;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
}

.profissionais .profissional .profissional2 p {
    font-size: 1.7rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.profissionais .profissional .profissional2 img {
    width: 100%;
    height: auto;
    max-width: 18rem;
    border-radius: 0.8rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

.contatos {
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;

    background: 
        linear-gradient(rgba(240, 180, 140, 0.6), rgba(240, 180, 140, 0.6)),
        url('../img/fundo.jpg');
        opacity: 90%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
}

.contatos h1 {
    font-size: 5rem;
    margin-top: 10rem;
}

.contatos .contato {
    width: 100%;
    display: flex;
    flex-direction: row;    
    justify-content: center;
    align-items: center;
    gap: 10rem;
    margin-top: 0.5rem;
}

.contato .contato1 {
    background-color: white;
    border-radius: 5rem;
    padding: 2rem;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.6);
}

.contato .contato1 img {
    width: 26rem;
    max-width: 85%;
    border-radius: 50rem;
    border: black solid 0.1rem;
}

.contato .contato2 {
    background-color: white;
    border-radius: 5rem;
    padding: 2rem;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.6);
}

.contato .contato2 img {
    width: 26rem;
    max-width: 85%;
    border-radius: 50rem;
    border: black solid 0.1rem;
}

.botoes-contato {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.botoes-contato a {
    font-size: 3rem;
    width: 3rem;
    height: 4.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    text-decoration: none;
    color: black;
    transition: transform 0.3 ease, box-shadow 0.3s ease;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.botao-whatsapp, .botao-instagram {
    text-decoration: none;
    padding: 1rem 1.8rem;
    color: black;
    border-radius: 2rem;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.botao-whatsapp {
    background-color: #25D366;
}

.botao-instagram {
    background-color: #E1306C;
}

.botao-whatsapp:hover {
    background-color: #1DA851;
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.botao-instagram:hover {
    background-color: #9B2060;
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.contatos p {
    font-size: 4rem;
}

.footer {
    height: 8vh;
    background-color: #AE886D;
}

.footer p {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    padding-bottom: 0;
}

/* CELULARES */
@media (max-width: 480px) {
    html, body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    .main {
        height: auto;
    }
    .main .content h1 {
        font-size: 2.5em;
    }
    .main .content h2 {
        font-size: 1.8em;
        margin-top: 0.5em;
    }
    .main .content p {
        margin-top: 2em;
        margin-left: 2em;
        margin-right: 2em;
        font-size: 1.5em;
    }
    .main .content a {
        margin-top: 1em;
        font-size: 1.3em;
        padding: 0.5em;
    }
    .main .content a img {
        height: 1.6em;
        width: 1.6em;
    }
    .sobre {    /* NÃO FINALIZADO */
        width: 100%;
        margin: 0;
        overflow-x: hidden;
    }
    .sobre .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    .sobre .content {
        width: 100%;
        height: auto;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .sobre .content h1 {
        font-size: 3.5em;
    }
    .sobre .content p {
        font-size: 1.5em;
        margin: 0 auto;
        width: 100%;
        max-width: 800px;
        height: auto;
        text-align: center;
        line-height: normal;
        padding: 0 1rem;
    }
    .sobre .container .content a {
        text-align: center;
        margin-left: 18em;
        margin-top: 1.5em;
    }
    .sobre .container .image {
        margin-left: 6.4em; /* Remove a margem à esquerda */
        margin-top: 1em; /* Dá um pequeno espaçamento superior se necessário */
    }
    .sobre .container .image img {
        height: 30%;
        width: 70%;
    }
    .procedimentos {
        width: 100%;
        margin: 0;
        overflow-x: hidden;
    }
    .procedimentos h1 {
        font-size: 3em;
    }
    .procedimentos .procedimentos-container {
        display: flex;
        flex-direction: column;
        gap: 4em;
    }
    .procedimentos .procedimentos-container .procedimento-item {
        width: 60%;
    }
    .procedimentos h2 {
        font-size: 2.3em;
        margin-bottom: 1.5em;
    }
    .profissionais {
        width: 100%;
        margin: 0;
        overflow-x: hidden;
    }
    .profissionais h1 {
        font-size: 3.5em;
    }
    .profissionais .profissional {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .profissionais .profissional .profissional1 {
        width: 80%;
        display: flex;
        flex-direction: column-reverse;
    }
    .profissionais .profissional .profissional1 img {
        align-items: center;
        height: auto;
        width: 100%;
        margin-top: 1em;
        margin-left: 1.3em;
        padding-bottom: 0;
    }
    .profissionais .profissional .profissional1 p {
        font-size: 1.5em;
        display: flex;
        align-items: center;
        padding: 1em;
        padding-bottom: 0;
        padding-right: 0;
        padding-top: 0;
    }
    .profissionais .profissional .profissional2 {
        width: 75%;
        display: flex;
        flex-direction: column;
        padding-bottom: 0;
    }
    .profissionais .profissional .profissional2 img {
        align-items: center;
        width: 80%;
        margin-top: 1em;
        padding-bottom: 0;
        margin-right: 1.3em
    }
    .profissionais .profissional .profissional2 p {
        font-size: 1.5em;
        display: flex;
        align-items: center;
        width: 100%;
        padding-left: 1em;
    }
    .contatos {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        padding: 0;
    }
    .contatos .fundo-contatos {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .contatos .fundo-contatos h1 {
        margin-top: 1.5em;
    }
    .contatos .fundo-contatos .contato {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 1em;
        width: 90%;
    }
    .contatos .fundo-contatos .contato .contato1 {
        width: 70%;
    }
    .contatos .fundo-contatos .contato .contato2 {
        width: 70%;
    }
    .contatos .fundo-contatos h1 {
        font-size: 3.5em;
        margin-bottom: 1em;
    }
    .contatos .fundo-contatos p {
        font-size: 2.3em;
    }
    .footer {
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1em;
    }
    .footer p {
        font-size: 1.5rem;
        margin: 0;
    }
}

/* TABLET MÉDIOS */
@media (max-width: 768px) {
    body {
        height: 100%;
        font-family: 'Jacques Francois', serif;
        padding: 0;
    }
    .main {
        height: auto;
    }
    .sobre {
        height: auto;
    }
    .sobre .container {
        display: flex;
        flex-direction: column;
        justify-content: right;
        align-items: right;
        text-align: center;

    }
    .procedimentos {
        height: auto;
    }
    .profissionais {
        height: auto;
    }
    .contatos {
        height: auto;
    }
    .footer {
        height: auto;
    }
}

/* TABLETS */
@media (max-width: 1024px) {

}

/* LAPTOPS PEQUENOS */
@media (max-width: 1366px) {
    body {
        height: 100%;
        font-family: 'Jacques Francois', serif;
        padding: 0;
        overflow-x: hidden;
    }
    .main {
        height: 100%;
        padding-bottom: 2em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .sobre {
        height: auto;
        padding-bottom: 2em;
    }
    .container {
        display: flex;
        flex-direction: row;
        gap: 0em;
    }
    .container .image {
        display: flex;
        justify-content: left;
        margin-left: -23em;
    }
    .sobre .content p {
        width: 65%;
    }
    .procedimentos {
        height: auto;
        padding-bottom: 2em;
    }
    .procedimentos .procedimentos-container {
        width: 85%;
    }
    .profissionais {
        height: auto;
        padding-bottom: 2em;
    }
    .profissionais .profissional {
        width: 95%;
    }
    .contatos {
        height: 153vh;
    }
    .fundo-contatos {
        margin-top: 0;
    }
    .fundo-contatos p {
        font-size: 3em;
    }
    .footer {
        height: auto;
    }
}

/* DESKTOPS GRANDES */
@media (min-width: 1367px) {

}
